html {
  width: 100%;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: avenir_400;
}

select::-ms-expand {
  display: none;
  /* hide default arrow in IE10 */
}

#career19update body {
}

:root {
  --text-dark-yellow: #db7100;
  --dark-yellow: #ee9f39;
  --teal-blue: rgb(22, 151, 206);
  --full-orange: rgba(243, 67, 8);
  --energy-blue: rgba(9, 114, 242);
  --sunny-green: rgba(99, 169, 37);
}

.text-dark-yellow {
  color: #db7100;
}

.container1 {
  width: 92%;
  margin: 0 auto;
}

.container-2 {
  width: 97.5%;
  margin: 0 auto;
  padding-bottom: 4px;
}
.career-search-main-form {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.career-search-main-form .filter-label {
  font-size: 18px;
  margin-bottom: 5px;
}

.career-search-main-form .search-box-custom {
  border: 0;
}

form.secondary-form {
  margin-top: -10px;
}

.btn-label {
  margin: 0;
}

.sec-btn {
  padding: 0px 13px;
  margin-top: 5px;
  margin-left: 12px !important;
  padding-left: 0.75rem !important;
}

.form-label {
  margin-bottom: 5px;
}

#career19update.listing-page {
  overflow-x: hidden;
  font-family: 'Avenir LT W01_35 Light1475496', sans-serif;
}

@font-face {
  font-family: avenir_100;
  src: url('../fonts/AvenirLTStd-Light.otf');
}

@font-face {
  font-family: avenir_400;
  src: url('../fonts/AvenirLTStd-Roman.otf');
}

@font-face {
  font-family: avenir_900;
  src: url('../fonts/AvenirLTStd-Black.otf');
}

#career19update .avenir-light {
  font-family: avenir_100;
}

#career19update .avenir-normal {
  font-family: avenir_400;
}

#career19update .avenir-bold {
  font-family: avenir_900;
}

#career19update .text-yellow {
  color: #ee9f39;
  font-weight: normal;
}

#career19update .text-yellow-dotted {
  color: #ee9f39;
  font-weight: normal;
}

.our-value-block {
  width: 24.9%;
  display: inline-block;
  float: left;
  height: 220px;
  background-color: rgba(255, 255, 255, 0.749);
  filter: alpha(opacity=70);
  padding: 50px 18px;
  box-sizing: border-box;
  margin-right: 1px;
}

.our-values-section .container-2:after {
  content: '';
  clear: both;
  display: table;
}

.our-values-section .container-2 {
  padding: 180px 0 80px 0;
}

.career-value-child {
  position: relative;
  margin-right: -15px;
  padding: 0 30px;
}

.career-value-child h5 {
  font-weight: 400;
}

.career-value-child:after {
  content: '';
  background-repeat: no-repeat;
  background-image: url(../img/line_2.png);
  position: absolute;
  right: 0;
  top: 0;
  /* z-index: 9999999; */
  height: 100%;
  width: 14px;
}
.career-value-child4:after {
  content: '';
  background-image: none !important;
}

.career-offer .career-value-child p {
  padding: 0 30px !important;
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  #career19update .career-value-section {
    font-size: 16px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1035px) {
  .our-values-section .container-2 {
    padding: 120px 0 80px 0;
  }

  .our-value-block {
    width: 49%;
    margin-bottom: 10px;
  }

  .our-value-block h5 {
  }

  .our-value-block p {
  }

  .our-value-block:nth-child(1),
  .our-value-block:nth-child(3) {
    margin-right: 13px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .p-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .our-values-section .container-2 {
    padding: 50px 0 50px 0;
  }

  #career19update .career-search-main-form {
    padding: 15px 0 !important;
  }

  .section-heading-28.last-sec h5 {
    padding-top: 10px;
    padding: 10px 10px;
  }

  #career19update .carousel-main-message {
    font-size: 19px;
    padding: 0 20px;
  }

  .our-value-block {
    width: 100%;
    margin-bottom: 10px;
    height: 150px;
    padding: 33px 20px;
  }

  .our-value-block h5 {
    font-size: 16px;
  }

  .our-value-block p {
    font-size: 14px !important;
  }
  .career-offer .career-value-child h5 {
    margin: 10px 0 3px 0 !important;
  }

  .mobile-carousel {
    display: block;
  }
  .desktop-carousel {
    display: none;
  }
}

@media (min-width: 769px) {
  .mobile-carousel {
    display: none;
  }
  .desktop-carousel {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #career19update .career-search-main .primary-text h1 {
    font-size: 36px !important;
    line-height: 42px !important;
  }

  .career-offer .career-value-child {
    padding: 0 65px;
    margin-bottom: 40px !important;
  }

  .career-offer .career-value-child h5 {
    margin: 10px 0 5px 0 !important;
  }

  .career-value {
  }

  .career-value .career-value-child {
    padding-bottom: 40px;
  }

  .career-value-child:after {
    content: ' ';
    top: 0;
    background-position: -50%, 0;
  }

  .career-value-child2:after,
  .career-value-child4:after {
    content: '';
    background-image: none;
  }

  #career19update .apply-text {
    margin-top: 16px !important;
    font-size: 16px !important;
  }

  #career19update .career-value-section-border-right {
    border-bottom: 1px solid #0000001f;
  }

  #career19update .career-value-section-border-right:nth-child(3),
  #career19update .career-value-section-border-right:nth-child(4) {
    border-bottom: 0;
  }

  #career19update .career-value-section {
    font-size: 16px !important;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
  }

  #career19update .career-value-section-icon {
    font-size: 18px !important;
  }

  #career19update .career-values {
    display: none;
  }

  .career-value-child {
    position: relative;
    margin-right: -15px;
    padding: 0 30px;
  }

  .career-value-child:after {
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .career-value {
  }

  .career-value .career-value-child {
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }

  .career-value-child:after {
    content: ' ';
    background-image: none;
  }

  .career-value .career-value-child h5 {
    margin-top: 18px;
    font-size: 18px;
    margin-bottom: 2px;
  }

  .career-value .career-value-child p {
    margin: 0 0 !important;
  }

  #career19update .career-search-main .primary-text h1 {
    font-size: 24px !important;
    line-height: 24px !important;
    margin-bottom: 10px !important;
  }

  #career19update .apply-text {
    margin-top: 15px !important;
    font-size: 14px !important;
    letter-spacing: 0.3px !important;
  }

  .career-search-main-form .filter-label {
    font-size: 16px !important;
  }

  .form-label {
    margin-bottom: 5px !important;
    font-size: 16px !important;
    font-weight: 300 !important;
  }

  #career19update .form-dropdown-custom {
    width: 100% !important;
  }

  .container-2 {
    width: 92% !important;
  }

  #career19update .form-btn-primary {
    margin-left: 0px !important;
  }

  #career19update .career-values {
    display: none;
  }

  #career19update .search-box-custom {
    max-width: 100% !important;
  }
  .section-heading-28.last-sec {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .section-heading-28.none1 {
    display: block !important;
    margin-bottom: 35px;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  .sticky + .content {
    padding-top: 0px !important;
  }

  #career19update .pt-150 {
    padding-top: 0px !important;
  }

  .our-value-block {
    margin-bottom: 14px;
  }

  #career19update .margin-less-col {
    margin-left: 0 !important;
    margin-right: -14.5px !important;
  }

  #career19update .pb-100 {
    padding-bottom: 30px !important;
  }
}

#career19update .bg-teal-blue {
  background-color: #1697ce;
  /* border-bottom: 1px solid #0f6990; */
}

#career19update .text-teal-blue {
  color: rgb(22, 151, 206);
}

#career19update .text-full-orange {
  color: #f34308;
}

#career19update .text-energy-blue {
  color: #0972f2;
}

#career19update .text-sunny-green {
  color: #63a925;
}

#career19update .text-666 {
  color: #666;
}

#career19update .search-box-custom {
  padding-left: 0.5rem;
  width: 100%;
  max-width: 34rem;
  font-size: 16px;
}

#career19update .text-333 {
  color: #333;
}

#career19update .fw3 {
  font-weight: 300;
}

#career19update .fw7 {
  font-weight: 700;
}

#career19update .fs18 {
  font-size: 1.125rem;
}

#career19update .fs28 {
  font-size: 1.75rem;
}

#career19update .fs20 {
  font-size: 1.25rem;
}

#career19update .fs16 {
  font-size: 1rem;
}

#career19update .fs14 {
  font-size: 15px;
}

#career19update .lh1_5 {
  line-height: 1.5rem;
}

#career19update .text-italic {
  font-style: italic;
}

#career19update .pt-150 {
  padding-top: 150px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  #career19update .pt-150 {
    padding-top: 0px;
  }

  #career19update .pb-100 {
    padding-bottom: 0px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  #career19update .pt-150 {
    padding-top: 0px;
  }

  #career19update .pb-100 {
    padding-bottom: 0px;
  }
}

#career19update .pb-100 {
  padding-bottom: 100px;
}

#career19update .h-760 {
  height: 768px;
}

#career19update .btn-primary-search-custom {
  background-color: rgb(22, 151, 206);
  border: none;
  height: 2.4rem;
  padding: 0rem 1rem;
}

#career19update .dropdown-btn-border {
  border: 0.5px solid #00000029;
}

.full-width {
  width: 100%;
}

.section-heading-28 {
  font-size: 28px;
  color: #333;
  padding: 30px 0 0 0;
}
.section-heading-28.last-sec {
  padding-top: 0;
  font-weight: 400 !important;
}
.section-heading-28.last-sec h5 {
  padding-top: 10px;
}

#career19update .box-shadow-left {
  box-shadow: -15px 0px 50px -60px #000000;
  border-left: 0.5px solid #00000029;
}

#career19update .bg-white-80 {
  background-color: #ffffffcc;
}

#career19update .bg-white {
  background-color: #ffffff;
}

#career19update .career-search-main {
  background-image: url('../img/career_cover_bg1.jpg');
  background-size: cover;
  background-position: center;
}

#career19update .career-search-main .primary-text {
  padding: 3.5rem 0;
}

#career19update .career-search-main .primary-text h1 {
  font-weight: 400;
  font-size: 40px;
  margin: 0;
  line-height: 63px;
}

#career19update .apply-text {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 0.3px;
}

#career19update .career-search-main-form {
  background-color: #000000b3;
  padding: 0.625rem 0;
}

#career19update .text-input {
  width: 100%;
  height: 38px;
}

#career19update .form-btn-primary {
  height: 38px;
  vertical-align: top;
  font-size: 1rem;
  background-color: #1697ce;
  border-style: none;
  padding-left: 0.9rem;
  margin-left: 0.9rem;
  font-size: 17px;
  padding-right: 0.75rem;
}

#career19update .form-btn-primary i {
  margin-right: 5px;
}

@media only screen and (max-width: 768px) {
  #career19update .form-btn-primary {
    height: 2.125rem;
    font-size: 1rem;
    background-color: #0091ea;
    border-style: none;
    padding-left: 0.75rem;
    margin-top: 0.8rem;
    margin-left: 0;
    /* font-size: 1.125rem; */
    padding-right: 0.75rem;
    display: block;
  }
}

#career19update .form-dropdown-custom {
  display: block;
  width: 98%;
  height: 38px;
  color: #333;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 0;
}

#career19update .form-dropdown-custom > option {
  color: #333;
}

#career19update .btn-secondary-custom {
  background: white;
  border: 1px solid #0091ea;
}

#career19update .btn-secondary-custom2 {
  background: white;
  border: 1px solid #0091ea;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 0;
}

#career19update .job-list-count-header {
  font-size: 1.8rem;
  color: #222;
}

#career19update .form-btn-primary-margin-top {
  margin-top: 2.1rem;
}

#career19update .pl-14 {
  padding-left: 14px;
}

@media only screen and (max-width: 768px) {
  #career19update .pl-14 {
    padding-left: 0px;
  }
}

#career19update .grey-hr {
  border: 0;
  height: 1px;
  background: #666;
  /* margin: 0 -15px; */
  margin-top: 18px;
}

#career19update .or-circle-grey {
  height: 35px;
  width: 35px;
  background-color: #55575b;
  border-radius: 50%;
  text-align: center;
  padding: 3px;
  transform: translate(2.2rem, -2rem);
  font-size: 14px;
  line-height: 27px;
}

#career19update .dropdown-custom {
  background-color: white;
}

#career19update .dropdown-btn-custom {
  border-radius: 0;
  width: 100%;
  text-align: left;
}

#career19update .dropdown-toggle-custom::after {
  display: inline-block;
  width: 0px;
  height: 0px;
  vertical-align: middle;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-bottom: 0 dotted;
  border-left: 4px solid transparent;
  content: '';
  position: absolute;
  right: 10%;
  top: 70%;
}

#career19update .dropdown-toggle-custom2::after {
  display: inline-block;
  width: 0px;
  height: 0px;
  vertical-align: middle;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-bottom: 0 dotted;
  border-left: 4px solid transparent;
  content: '';
  position: absolute;
  right: 10%;
  top: 50%;
}

.custom-file-label::after {
  background-color: #0091ea;
  color: white;
  border: 2px solid #0091ea;
}

#career19update .dropdown-job-custom {
  background-color: white !important;
  border: 0.5px solid #00000033;
  color: #333;
}

#career19update .career-values {
  z-index: 100;
  overflow: hidden;
  /* height: 75px; */
}

@media only screen and (max-width: 1024px) {
  #career19update .career-values {
    /* display: none; */
  }

  #career19update .top-margin-1 {
    margin-top: 1px;
  }
}

@media only screen and (max-width: 768px) {
  #career19update .top-margin-1-for-small {
    margin-top: 1px;
  }
}

/* Page content */
.content {
  /* padding: 16px; */
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

#career19update .career-value-section {
  font-size: 19px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  /* height: 77px; */
}

#career19update .career-value-section-text {
  font-weight: 100;
  line-height: 40px;
}

#career19update .career-value-section-icon {
  font-size: 2rem;
  opacity: 0.5;
}

#career19update .career-value-section-border-right {
  border-right: 1px solid #0000001f;
  z-index: 99;
}

#career19update .career-value-section {
  cursor: pointer;
}

#career19update .career-value-section:hover {
  text-decoration: none;
}

@media only screen and (min-width: 960px) {
  #career19update .career-value1:hover {
    transition: all 0.24s ease-in-out;
    background: #f34308;
    color: white;
  }

  #career19update .career-value2:hover {
    transition: all 0.24s ease-in-out;
    background: #0972f2;
    color: white;
  }

  #career19update .career-value3:hover {
    transition: all 0.24s ease-in-out;
    background: #63a925;
    color: white;
  }

  #career19update .career-value4:hover {
    transition: all 0.24s ease-in-out;
    background: #3fa9f5;
    color: white;
  }
}

#career19update .our-values-section {
  background-image: url('../img/our_values.jpg');
  background-size: cover;
  background-position: center;
}

#career19update .our-values-text {
  font-size: 18px;
  line-height: 20px;
  color: #333;
}

#career19update .margin-less-col {
  margin-left: -14.5px;
  margin-right: -14.5px;
}

#career19update .height-64 {
  height: 13rem;
}

@media only screen and (max-width: 924px) {
  #career19update .height-64 {
    height: 10rem;
  }
}

@media only screen and (max-width: 768px) {
  #career19update .height-64 {
    height: 8rem;
  }
}

#career19update .carousel-item-container {
  background-image: url('../img/carousel_1.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
}

#career19update .carousel-main-message {
  text-align: center;
  font-size: 24px;
  color: rgba(0, 0, 0, 0 7);
  position: relative;
}

@media only screen and (min-width: 320px) and (max-width: 520px) {
  #career19update .carousel-image-mobile {
    margin-left: -60px;
  }
}

#career19update .carousel-image-mobile {
  margin-top: -80px;
  text-align: center;
  font-size: 28px;
  color: #000000b3;
}

.caption-message {
  margin-left: 45%;
  margin-top: 30vh;
  margin-right: 15%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .caption-message-bg {
    background-color: #ffffff73;
    padding: 10px 16px;
  }
}

#career19update .caption-message-bg > p::before {
  content: url('../img/quotation-big.png');
}

.caption-message-mobile > p::before {
  content: url('../img/quotation-big.png');
}

@media only screen and (max-width: 1024px) {
  .caption-message {
    margin-left: 50%;
    margin-top: 220px;
    margin-right: 16%;
  }
}

#career19update .carousel-item-image {
  background-image: url('../img/carousel_1.jpg');
  width: 100%;
  height: 300px;
  display: table;
  background-position: center;
}

#career19update .caption-message-mobile {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  padding: 2rem 4rem 2rem 4rem;
  background-color: #e0e1e2;
  text-align: center;
}

#career19update .caption-message-mobile > p {
  text-align: center;
  vertical-align: middle;
  line-height: 1.5rem;
  display: inline-block;
}

#career19update .caption-message > p::before {
  content: '';
  color: #333;
  display: inline;
  font-size: 2rem;
}

/* classes for pagination */

#career19update .pagination-custom {
  list-style: none;
}

#career19update .pagination-custom .item {
  margin-left: 0.5rem;
  border: 1px solid #0091ea;
  display: inline-block;
  height: 2.5rem;
  vertical-align: top;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

#career19update .pagination-custom .item.icon {
  padding-top: 0.7rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

#career19update .pagination-custom .item.word {
  padding-left: 1rem;
  padding-right: 1rem;
}

#career19update .pagination-custom .active-disabled {
  background-color: #0091ea;
  opacity: 0.6;
  color: white;
}

#career19update .pagination-custom .active-enabled {
  background-color: #0091ea;
  color: white;
}

#career19update .pagination-custom .enabled {
  color: #0091ea;
}

#career19update .job-description-application {
  background-color: #f4f4f4;
}

@media only screen and (min-width: 960px) {
  #career19update .career-value1-child1-animated {
    transform: translateY(120px);
    transition: all 0.24s ease-in-out;
    color: white;
  }
}

.recent-job-item-posted-on {
  color: #6c6c6c;
  font-size: 0.75rem;
}

.position-title {
  color: #333;
  font-size: 1rem;
  font-weight: 500;
}

.position-description {
  color: #333;
  font-size: 1rem;
}

/* listing Page */
.list-jobs {
  width: 100px;
}
.job-listing-header {
  background-color: #f6f7f8;
}

.resetSearch {
  border: 1px solid #0091ea;
  border-radius: 0px;
  color: #0091ea;
}
#jobListing {
  font-family: avenir_400;
}
.job-header {
  font-family: avenir_400;
  text-align: center !important;
  padding-left: 15px;
}
.navigate-by-page {
  padding: 2px;
}
.pagination {
  float: right;
  font-family: avenir_400;
}
.pagination li {
  margin: 0 5px;
  font-size: 14px;
}

.pagination .page-item .page-link {
  border-radius: 0;
}
.pagination .disabled {
  opacity: 0.5;
}
#jobs-paginate {
  overflow: hidden;
}
#jobs-per-page {
  float: left;
}
#jobs-paginate label,
.bottom label {
  font-size: 14px;
  font-weight: bold;
}
#jobs-paginate select,
.bottom select {
  width: auto;
  border-radius: 0;
}
#jobs-paginate select {
  width: 100px;
}
#jobListing_paginate {
  margin-left: auto;
}
.custom-select {
  font-size: 14px;
}
.pagination .page-item .page-link,
.pagination .page-item .page-link {
  padding: 5px 12px;
  border: 1px solid #0091ea;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
  padding: 5px;
}
.pagination .page-item.previous .page-link,
.pagination .page-item.next .page-link {
  background-color: #0091ea;
  color: #fff;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
  padding: 5px 35px;
  background-color: #0091ea;
  color: #fff;
  text-transform: uppercase;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .job-header {
    text-align: center !important;
    padding-left: 0px;
  }
  .job-header .career-section {
    font-size: 21px !important;
  }
  .list-jobs {
    width: 70px;
  }
  .job-header .reset {
    clear: both;
    float: left;
  }
  .job-header .reset .resetSearch {
    padding: 5px;
    font-size: 12px;
  }
  .pagination {
    float: none;
  }
  .pagination li {
    margin: 0px;
  }

  .pagination .page-item .page-link {
    border-radius: 0;
  }

  .pagination .disabled {
    opacity: 0.5;
  }
  .pagination .page-item .page-link,
  .pagination .page-item .page-link {
    padding: 5px 12px;
  }
  .pagination .page-item:first-child .page-link,
  .pagination .page-item:last-child .page-link {
    padding: 5px;
  }
  .hide-link-m {
    display: none !important;
  }
  #jobs-per-page {
    float: none;
  }
  #jobs-per-page label {
    display: block;
  }
  .bottom select {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  #jobs-paginate select,
  .bottom select {
    width: 100px;
  }
}
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
  opacity: 0;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  opacity: 0;
}

/* career */
.career-section {
  font-size: 28px;
  font-weight: lighter;
  display: inline-block;
}

.card-shadow {
  box-shadow: -6px 0 6px -6px #888;
}

/* job description page styles*/
.posted-on {
  font-size: 14px;
  color: #111;
}

.job-id {
  font-weight: 500;
}

.job-role .job-role-header {
  font-weight: 400;
}

.job-role p {
  margin-bottom: 0px !important;
}

/* apply for job form */
.express-application .form-group input,
.express-application .form-group .input-group label,
.express-application .form-group .dropdown button {
  border-radius: 0 !important;
}

.express-application .form-group {
  margin-bottom: 0.5rem !important;
}

.express-application .form-group label {
  margin-bottom: 0.2rem !important;
}

.apply-job {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 0;
  margin-top: 15px;
}

.express-application .custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.express-application .form-group .custom-file .custom-file-label::after {
  border-radius: 0;
}
